<a href="https://colab.research.google.com/github/DavidCicc/Portfolio/blob/main/Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
L = [5, 7, 3, 0, 1, 9]
L.sort(reverse=True)
L

[9, 7, 5, 3, 1, 0]

In [ ]:
L1 = [1,2,3,4]
L2 = [1,2,5,6]

for item in L1[:]:
  if item in L2:
    L1.remove(item)
L1

[3, 4]

In [ ]:
t=(1, "two", 3.0)
len(t)
t[1]

'two'

In [5]:
grades = {
    "Alice": 91,
    "Bob": 88,
    "Tacy": 93,
    "Erik": 90
    }
for key, value in grades.items():
  print(key, value)

Alice 91
Bob 88
Tacy 93
Erik 90

In [6]:
months = {1: "January", 2: "February", 3: "March"}
print(f'The first month in a year is {months[1]}')

The first month in a year is January

In [34]:
months = {}

numbers = [1,2,3,4,5,6,7,8,9,10,11,12]
names = ["Jan", "Feb", "Mar", "Apr", "May", "June", "July", "Aug", "Sep", "Oct", "Nov", "Dec"]

for numbers in range(1, 13):
  months[numbers] = names[:]
print(months[numbers])

['Jan', 'Feb', 'Mar', 'Apr', 'May', 'June', 'July', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

In [36]:
months = {}

numbers = [1,2,3,4,5,6,7,8,9,10,11,12]
names = ["Jan", "Feb", "Mar", "Apr", "May", "June", "July", "Aug", "Sep", "Oct", "Nov", "Dec"]

for num in numbers:
  months[num] = names [num - 1]
print(months)

{1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 5: 'May', 6: 'June', 7: 'July', 8: 'Aug', 9: 'Sep', 10: 'Oct', 11: 'Nov', 12: 'Dec'}